.menu-element {
    margin: 30px;
    background: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  a.menu-item:hover {
      color: #1e87c4;
      background-color: #d6eaf6;
  }
  
  a.menu-item {
    margin: 5px; 
    font-family: Garamond, sans-serif;
    text-align: center;
    color: black;
    padding: 5px 3px;
  }
  
  .menu-element .icon {
    display: none;
  }
  