body {
    font-family: Arial;
    background: linear-gradient(to left, rgb(235, 235, 235) 0%, rgb(255, 255, 255) 100%);
    margin: 0px;
  }

header {
  position: fixed;
  width: 100%;
  margin-bottom: 0px;
  height: 90px;
    top: 0;
    display: flex;
    background: white;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Roboto';
    z-index: 999;
}

footer {
  background: rgb(202, 202, 202);
  height: auto;
  margin-bottom: 10px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Roboto';
}

footer p {
  font-size: 16px;
  display: flex;
  flex-direction: column-reverse;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.footer-text {
  display:flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.footer-left {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-direction: row-reverse;
}

.social a {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.social-ig {
  background: rgb(202, 202, 202);;
  color: white;
  border-style: solid;
}

.social-fb {
  background: rgb(202, 202, 202);;
  color: white;
  border-style: solid;
}

.low-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  font-size: 25px;
}

.low-menu-lang {
  margin: 5px 0px;
  display:flex;
  justify-content: space-between;
}

h2 {
  margin: 5px;
}

a:link {
    color: white;
    text-decoration: none;
  }

a:visited {
    color: white;
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;
    color: rgb(81, 169, 228);
  }
  
a:active {
    text-decoration: none;
    color: white;
  }


  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .header {
    padding-top: 102px;
  }

.inverted {
  background-color: #328cc1;
  color: white;
  padding: 0px 2px;
}

.header-spacer {
  margin-bottom: 90px;
}


.title {
  letter-spacing: 1px;
  margin: 0;
  text-align: left;
}

.title a {
  text-align: left;
}

.link-none {
  text-decoration: none;
}

a.link-none {
  font-family: 'Roboto';
  color: black;
}

a.link-none:hover {
  color: black;
  background-color: white;
}

.title-sub {
 margin: 0;
 letter-spacing: 1px;
}

.list-title {
  list-style: none;
  padding: 10px;
  align-content: left;
}

.banner {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  object-fit: contain;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between; 
  
}

.banner-parallax {
 
  background-image: url("img/front-page/background.jpg");
  min-height: 750px; 
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

@media only screen and (max-device-width: 1366px) {
  .banner-parallax {
    background-attachment: scroll;
  }
}

.title-low-container {
  margin: 100px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.logo {
  height: 65px;
  width: 65px;
  padding: 12px 0px 0px 10px;
}

.title-element {
  margin: 0px, 100px;
}

.title-element div {
  display: flex;
  align-content: left;
  text-align: left;
}

.title-element-low {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  margin: 20px 5px
}

.topnav-space {
  padding-top: 50px;
  display: none;
}

.topnav a {
  float: left;
  display: block;
  color: #414040;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #c2c2c2;
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background-color: #f7f7f7;
  color: rgb(0, 0, 0);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .topnav a {display: none;}
  .topnav-space {display:block;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.lang-select {
  margin: 5px 2px;
  padding: 0px 0px;
}

a.lang-select {
  margin: 0px, 2px; 
  text-align: center;
  color: black;
  padding: 0px 3px;
}

.lang-select a:hover {
  background-color: #ffffff;
  color: rgb(255, 255, 255);
}

.container {
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.container-album {
  padding: 0px;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.sec-album {
  width: 100%;
}

.section {
    max-width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.floatr {
  float: left;
}


.body-text {
  margin: 10px 10px 0px 10px;
  max-width: 75%;
  height: auto;
  position: relative;
  display: block;
  padding-bottom: 300px;
}

.long-text {
  max-width: 100%;
  height: auto;
  display: inline-block;
  padding: 10px;
}

.sec-photo {
    margin: 10px 10px 0px 10px;
    max-width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
}

.gcover {
  margin: 10px 10px 0px 10px;
  max-width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; 
}

.gcover:hover .photo-frame {
  opacity: 0.7;
}

.gcover:hover .overlay {
  opacity: 0.9;
}

.album {
    max-width: 100%;
    padding: 50px 0px 0px 0px;
    max-height: 800px; 
    transition: .5s ease;
}

.img-title {
  font-family: 'Noto Mono';
  font-size: 20px;
}


.sec-photo.last {
   margin-bottom: 10px;
}


.photo-frame {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
    transition: .5s ease;
}

.big {
  height: 700px;
}

p {
    text-align: center;
}

.overlay {
    position: absolute;
    display: inline-block;
    object-fit: contain;
    padding: 10px;
    top: 45%;
    left: 50%;
    opacity: 0;
    transition: .5s ease;
    
  }

  .sec-photo:hover .photoframe {
    opacity: 0.7;
  }
  
  .sec-photo:hover .overlay {
    opacity: 0.9;
  }

  .text {
    color: white;
    background-color: #4177eb;
    font-size: 16px;
    padding: 16px 32px;
    font-size: 20px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
  }

  .text:hover {
    color: #4177eb;
    background-color: white;
  }

  .home-contact {
    margin: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contact-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1e87c4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .contact-button:hover {
    background-color: #49a6db;
  }

  .contact-button:active {
    background-color: #0f4f74;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.menu-icon:hover {
    background-color: #c2c2c2;
  }

.menu-icon div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  
}

.menu-icon {
  width: auto;
  align-content: center;
}

.menu-icon:hover {
  color: rgb(255, 255, 255);
}

